*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:white;
    font-size: 2vw;
}

.row-item-box-100{
    display:inline-block;
    width: 100%;
    height: 100%;
}

.row-item-box-50{
    display:inline-block;
    width: 49.5%;
    height: 100%;
}

.row-item-box-25{
    display:inline-block;
    width: 24%;
    height: 100%;
}

.row-container{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 15%;
}

.background-color-navy{
    background-color: #281C59;
}

.background-color-blue{
    background-color: #4E8D9C;   
}

.background-color-green{
    background-color: #85C79A;
}

.background-color-sea{
    background-color: #EDF7BD;
}

.border-style-1{
border: 10px solid #4993FA;
}

.border-style-2{
    border: 10px solid #A0E4F1;
}

.border-style-3{
    border: 10px dotted #4993FA;
}